.container {
	border: 1px solid black;
	border-radius: 0.5rem;
	padding: 1rem;
	gap: 1rem;
}

.container p {
	margin: 0;
}

.row {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-bottom: 1rem;
}